

.button{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

#StockBox-mainback-cust{
    -fx-background-color:linear-gradient(to bottom, #000000, #0a0a0a, #121212, #181818, #1e1e1e, #242424, #292929, #2f2f2f, #363636, #3e3e3e, #454545, #4d4d4d);
    -fx-padding: 0px;
    -fx-margin: 100px;
}

#StockBox-seprator{
	 -fx-padding: 3 3 0 5;
	 -fx-border-radius: 2 2 2 2;
	 -fx-background-radius: 2 2 2 2; 
	 -fx-background-color: #f0f0f5; 
}


#GridPane-content{
	-fx-background-color: linear-gradient(to right top, #4d4d4d, #4d4d4d, #4d4d4d, #4d4d4d, #4d4d4d);
	-fx-margin: 100px;
}

#HBox-bottom{
	-fx-background-color: linear-gradient(to right top, #4d4d4d, #4d4d4d, #4d4d4d, #4d4d4d, #4d4d4d);
}

#Button{
	-fx-background-radius: 1em;  
	-fx-background-color: radial-gradient( center 50% 50% , radius 80% , #4D4D4D, #000000);
	-fx-text-fill: white;
}

#Toolbar{
	-fx-background-color: linear-gradient(to right top, #4d4d4d, #4d4d4d, #4d4d4d, #4d4d4d, #4d4d4d);
	-fx-padding: 5 5 5 5;
}





